{{#if payload}}
  <div class="note-details">
    <ul class="note-list">
      <li><strong>Note Id:</strong> {{payload.noteId}}</li>
      <li><strong>Note Name:</strong> {{payload.noteName}}</li>
      <li><strong>Note Description:</strong> {{payload.description}}</li>
      <li><strong>Note Status:</strong> {{payload.status}}</li>
    </ul>
  </div>
{{else}}
  <div class="no-notes-warning">
    <marquee behavior="scroll" direction="right">
      <h2>There are no notes. Please create one first!</h2>
    </marquee>
  </div>
{{/if}}
